@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

/* GENERICS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #242424;
}

.container {
  width: 100%;
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

/* NAV */

nav {
  height: 200px;
}

.background__container {
  height: 100%;
  background-image: url('/public/movie_background.jpg');
  background-size: cover;
  background-position: center;
  
}

.nav__content--container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.blur__container {
  background-color: #242424c5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movie__background--img {
  width: 100%;
  filter: brightness(40%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateY(-600px);
  border-radius: 14px;
  box-shadow: 0px 10px 15px -3px #f5f5f5;
  object-fit: cover;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.logo__img {
  width: 100px;
  z-index: 10;
  filter: blur(none);
}

.logo__text--container {
  display: flex;  
  flex-direction: row;
  align-items: center;  
  justify-content: center;
}

.logo__text {
  margin-left: 16px;
  font-size: 36px;
}

.logo__link {
  display: flex;
  flex-direction: row;  
  justify-self: center;
  align-items: center;
  text-decoration: none;
}

.logo__link:hover .logo__img{
  animation: jump 800ms ease-in-out infinite;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  } 50% {
    transform: translateY(-10px);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  list-style-type: none;
  font-size: 36px;
  margin-right: 36px;
}

.link--btn {
  width: 100%;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 9999px;
  text-align: center;
  color: #242424;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px 5px #f5f5f5;
  transition: all 300ms ease-in-out;
}

.link--btn:hover {
  transform: translateY(-10px);
  color: #f5f5f5;
  background-color: #242424;
  box-shadow: 0px 0px 10px 5px #242424;
}

.no-cursor {
  cursor: not-allowed;
}

.cursor {
  cursor: pointer;
}


/* SEARCH/INPUT */

.search__title {
  font-size: 36px;
  padding: 24px 0;
}

.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.svg__holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
}

.magnifying__glass {
  width: 100%;
  transition: all 300ms ease-in-out;
}

input {
  height: 100px;
  width: 80%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #242424;
  font-size: 36px;
  z-index: 100;
}

input:focus {
  outline: none;
}

.input__wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 9999px;
  transition: all 300ms ease-in-out;
}

.input__wrapper:hover .magnifying__glass {
  fill: #ff2400;
}

.input__wrapper:focus-within {
  border-color :#ff2400;
}

.input__wrapper:focus-within .magnifying__glass {
  fill: #ff2400;
}

.input__wrapper:hover .magnifying__glass {
  color: blue;
}

/* LANDING TITLE */

.landing__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.results__title--container {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.back__arrow {
  cursor: pointer;
  transition: all 400ms ease;
}

.back__arrow:hover {
  opacity: 0.7;
}

/* MOVIES */

.movie__bar {
  margin-left: 24px;
  margin-top: 24px;
}

.movie__poster--text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.movie__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.movie__plot {
  margin-left: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.container__movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.hl-mod {
  width: 100% !important;
  margin-left: 0 !important; 
  margin-right: 0 !important;
}

.not__found {
  margin-top: 72px;
}

.movie__subtitle {
  font-weight: 800;
  display: flex;
  font-size: 24px;
  margin-bottom: 16px;
}

.rotten {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tomato {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

#movies {
  padding: 24px;
}

.movies__container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  margin-top: 32px;
}

.movies__title {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  max-width: 1400px;
  font-size: 48px;
  padding: 24px 0;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: min-content;
  padding-bottom: 36px;
  transition: all 300ms ease-in-out;
}

.movie:hover {
  cursor: pointer;
  transform: translateY(-18px) scale(1.04);
}

.poster__half {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.poster__img {
  width: 300px;
  height: 450px;
}

.text__half {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.movie__title {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 8px;
}

.movie__year {
  width: 100%;
}


/* LOADING STATE */

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transform: translateY(-200px);
  padding-top: 60px;
  font-size: 200px;
  color: #1769d2;
}

.movies__loading--spinner {
  display: none !important;
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(360deg);
  }
}

/* MOVIE NOT FOUND */

.not__found--title {
  font-size: 72px;
}

.not__found--img {
  filter: contrast(0);
  width: 100px; 
  height: 100px;
}

.not__found--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px;
}

/* FOOTER */

.horizontal-line {
  height: 3px;
  background-color: #f5f5f5;
  border-radius: 9999px;
  width: 80%;
  margin: 0 auto;
  margin-top: 72px; 
  margin-bottom: 72px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.footermod1 {
  width: 50px;
}

.footermod2 {
  font-size: 24px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 0
}

.footer__link {
  padding: 0 18px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--white:after {
  background-color: white;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.footer__anchor {
  text-decoration: none;
  font-size: 20px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

/* FILTER */

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  display: block;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-top: 48px;
  border: 2px solid white;
  border-radius: 9999px;
  height: 50px;
  color: white;
  background-color: #242424;
  font-size: 18px;
  text-align: center;
}

.dropdown:focus {
  outline: none;
}

.dropdown-menu {
  border-radius: 9999px;
  border: none;
}

option {
  font-size: 18px;
  color: white;
  border-radius: 9999px;
}

@media (max-width: 1450px) {
  .movie {
    width: 33%;
  }

  .input__wrapper {
    width: 70%;
  }

  .movies__title {
    padding-left: 48px
  }
}

@media (max-width: 1050px) {

  .input__wrapper {
    width: 65%;
  }

  .nav__links {
    justify-content: end;
  }

  .link {
    font-size: 24px;
  }

  .logo__text {
    font-size: 24px;
  }

  .movies__title {
    font-size: 36px;
  }

  #contact {
    display: none;
  }

  #search__btn {
    display: none;
  }

  .search__title {
    font-size: 48px;
  }

  input {
    font-size: 24px;
  }

  .movie {
    width: 50%;
  }

  .dropdown {
    width: 30%;
  }
}

@media (max-width: 768px) {
  input {
    font-size: 18px;
    height: 75px;
    padding-left: 16px;
    margin-right: 16px;
  }

  .svg__holder {
    width: 35px;
  }

  .magnifying__glass {
    width: 35px;
    height: 35px;
  }

  .movie {
    width: 100%;
  }

  .movies__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }

  .logo__img {
    width: 75px;
    height: 75px;
  }

  .search__title {
    font-size: 36px;
  }
}

@media (max-width: 580px) {
  .input__wrapper {
    width: 90%;
  }

  input {
    font-size: 16px;
  }

  .nav__links {
    width: 100%;
    justify-content: end;
  }

  .logo__text--container {
    width: 60%;
    justify-content: flex-start;
  }

  .link {
    cursor: pointer;
    margin: 0;
    width: 60%;
  }

  .link--btn {
    width: 100px;
    padding: 8px 18px;
  }

  .nav__links {
    width: 40%;
  }

  .svg__holder {
    padding-right: 8px;
  }

  .search__title, .movies__title {
    font-size: 24px;
  }

  .dropdown {
    width: 60%;
  }

  .landing__title {
    font-size: 18px;
  }  
}